/* font-family: Roboto;
цвет основного текста  #212121
цвет второстепенного текста #757575
цвет текста на картинках  #FFFFFF
цвет текста акцента #2196F3
цвет текста футер почта, телефон, рамка, e-mail rgba(255, 255, 255, 0.6);
цвет фона картинок портфолио  rgba(33, 150, 243, 0.9);
цвет фона кнопок #2196F3
цвет фото кнопок раздела #F5F4FA;

line-height множителем
color: var(--primary-text-color)

*/

:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --white-color: #FFFFFF;
    --image-color: rgba(33, 150, 243, 0.9);
    --button-color-primary: #F5F4FA;
    
}

body {
    background-color: var(--white-color);
    font-family: Roboto, sans-serif;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

li {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/*header*/

.page-header {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  
   

}
.container.main-nav {
  display: flex;
  align-items: center;

}


.site-nav {
    display: flex;
    align-items: center;
    margin-left: 85px;
    

}

.site-nav__item {
    position: relative;
}

.site-nav__item:not(:last-child) {
    margin-right: 50px;
  
}

.site-nav__link:focus,
.site-nav__link:hover {
    color: var(--accent-color);
}

.site-nav__link {
    display: block;
    padding: 32px 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}

/* подчеркивание хедер*/
.site-nav__link:hover::after {
    opacity: 1;
    transform: scaleX(1);
  }

.site-nav__link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
  
    display: block;
    width: 100%;
    height: 4px;
    background-color: #2196F3;
    border-radius: 2px;
  
    opacity: 0;
    transform: scaleX(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  }




.auth-nav__list { 
    display: flex;
    margin-left: auto;
    align-items: center;

}



.auth-nav__link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.auth-nav__link:focus,
.auth-nav__link:hover {
    color: var(--accent-color);
  fill: var(--accent-color);
}

    




.auth-nav__item:nth-child(odd) {
    margin-right: 30px;
}


.auth-nav__icon-svg {
    margin-right: 10px;
    padding-top: 2px;
    fill: #757575;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.auth-nav__icon-svg:hover,
.auth-nav__icon-svg:focus {
    fill: var(--accent-color);
}


.logo {
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;    
    line-height: 1.2px;
    letter-spacing: 0.03em;
    color: #2196F3;

}

.logo-footer {
    font-family: Raleway;
    font-weight: bold;
    font-size: 22px;    
    line-height: 1.2px;
    letter-spacing: 0.03em;
    color: #2196F3;

}



.logo-studio {
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;    
    line-height: 1.2px;
    letter-spacing: 0.03em;
    color: black;
}

.logo-studio-footer {
    font-family: Raleway;
    font-weight: bold;
    font-size: 22px;    
    line-height: 1.2px;
    letter-spacing: 0.03em;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

address {
    font-style: normal;

}

.nav-link {
    color: var(--title-text-color);
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.link:hover,
.link:focus {
  color: var(--accent-color);
}


.main-title {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;    
    line-height: 26px;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    background-color: var(--button-color-primary);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-title:hover,
.main-title:focus {
    background-color: var(--accent-color);
    color: var(--white-colorcolor);
    }

/* меню портфолио */

.portfolio-list {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-inline-start: 0px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;  
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-block-start: 0em;
    margin-block-end: 0em;
    
}
.portfolio-btn {
    padding: 6px 22px;
    margin-bottom: 50px;
    background: #F5F4FA;
    border-radius: 4px;
    align-items: center;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:not(:last-child){
    margin-right: 8px;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  
}


/* карточки портфолио */

.card-set__content {
    width: 1200px;
    margin: 0px auto;
    padding: 0px 15px;
}
.card-set {
    padding-top: 93px;
    padding-bottom: 94px;
}

/* карточки портфолио */

.card-set__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;
    
}

.card-set__list {
    margin-right: 30px;
    margin-bottom: 30px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

    

.card-set__list:nth-child(3n) {
    margin-right: 0;
}

.card-set__list:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.card-set__list:nth-last-child(n + 4) {
    margin-bottom: 30px;
}
/*
.card-set__list:hover,
.card-set__list:focus {
    background-color: rgba(33, 150, 243, 0.9);
}

.card-set__link {
    position: relative;
    border-radius: 5px; 
    text-decoration: none;
    display: block;
    overflow: hidden;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-set__link:focus,
.card-set__link:hover {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);

}*/



.card-set__img {
    position: relative;
    
}

.card-set__overlay {
    position: absolute;
    bottom: 0px;
    width: 370px;
    height: 294px;
    background-color: var(--accent-color);
    transform: translateY(50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    z-index: 1;

}

.card-set__overlay:focus,
.card-set__overlay:hover {
    transform: translateY(0%);
    opacity: 0.9;

    
} 


.card-set__text {
    position: absolute;
   
   font-style: 18px;
    line-height: 1.6;   
    color: var(--white-color);
    padding: 63px 24px;
    
   
    margin-block-start: 0em;
    margin-block-end: 0em;
    
    opacity: 0;
}

.card-set__text:focus,
.card-set__text:hover {
    opacity: 1;
    
}

.card-set__descripion {
   
    z-index: 2;
}

.card-set__title {
    font-family: Roboto;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
    margin-left: 24px;
    margin-block-start: 0em;    
    margin-block-end: 0em;
    margin-bottom: 4px;
    padding-top: 20px;
    

}

.card-set__subtitle {
    font-family: Roboto;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
    margin-left: 24px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-bottom: 20px;


}








.button-footer__email {
    display: flex;
    
}

.footer-sub_buttons {
    display: flex;
}

.button-footer__sub {
    font-family: Roboto;
    font-weight: 900;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: var(--white-color);
    padding-top: 10px;
    padding-bottom: 10px;
    
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
   display: flex;
   justify-content: center;
   align-items: center;

}

.button-footer__label{
    border: 1px solid rgba(255, 255, 255, 0.3); 
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 358px;
    height: 50px;
    background-color: inherit;
    margin-right: 10px;


    padding-left: 16px;
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

}

.copyright {
    display: flex;
    justify-content: center;
    width: 1200px;
    padding-top: 18px;
    padding-bottom: 21px;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

    

.copyright-text {
    font-family: Roboto;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.4);
    
}

.footer-title{
    margin-bottom: 21px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color)
    
}


    


.address-subtitle {
    font-family: Roboto;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
footer {
    background-color: #2F303A;

}


.address-title {
    margin-top: 10px;
    font-family: Roboto;
    font-style: normal;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.03em;
    color: var(--white-color)
    

}

.footer-nav {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 48px;
    padding-bottom: 28px;
    width: 1200px;
    
}
.footer-adress {
    font-family: Roboto;
    font-size: 14px;
    line-height: 2; 
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    margin-right: 69px;
    
}

.footer-socials__list {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-right: 93px;
    padding-left: 0px;
}



.footer-socials__icon:not(:last-child) {
    margin-right: 10px;
}

.footer-socials__icon {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 20px;
    margin-right: 10px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials__icon:hover,
.footer-socials__icon:focus {
    background-color: var(--accent-color);
    
}


.footer-socials__icon-svg{
    fill: var(--white-color);
    }




.footer-socials__icon-subscribe{
    fill: var(--white-color);
    margin-left: 10px;        
}
